<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min3.css" />
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>

  <body>
    <section class="features-boxed">
      <div class="container">
        <div class="intro">
          <h2 class="text-center">Some more information</h2>
          <p class="text-center">Everything, including memory, is second-hand.</p>
        </div>
        <div class="row justify-content-center features">
          <div class="col-sm-6 col-md-5 col-lg-4 item">
            <div class="box"><i class="fa fa-list-alt icon"></i>
              <h3 class="name">Know more</h3>
              <p class="description">Aenean tortor est, vulputate quis leo in,
                vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-4 item">
            <div class="box"><i class="fa fa-group icon"></i>
              <h3 class="name">About the seller</h3>
              <p class="description">Aenean tortor est, vulputate quis leo in,
                vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-4 item">
            <div class="box"><i class="fa fa-phone icon"></i>
              <h3 class="name">Contact</h3>
              <p class="description">Aenean tortor est, vulputate quis leo in,
                vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
            </div>
          </div>
        </div>
        <button
          class="wish-btn"
          onclick="window.location='/dashboard/info/wishlist';"
        >Add to wishlist</button>
        <button class="cart-btn">Add to cart</button>
      </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min3.js"></script>
  </body>

</html>