<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min3.css" />
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>

  <body>
    <section class="features-boxed">
      <div class="container">
        <div class="intro">
          <h2 class="text-center">Some more information</h2>
          <p class="text-center">Everything, including memory, is second-hand.</p>
        </div>
        <div class="row justify-content-center features big-box">
          {{{body}}}
        </div>
        <button
          class="wish-btn"
          onclick="window.location='/dashboard/info/wishlist';"
        >Add to wishlist</button>
        <button class="cart-btn">Add to cart</button>
      </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min3.js"></script>
  </body>

</html>