{{#each data}}

  <tr id={{this.prodID}}>
    <td>{{this.prodCategory}}</td>
    <td>{{this.product}}</td>
    <td>{{this.price}}</td>
    <td>
      <button class="info-btn" onclick="window.location='/dashboard/info';">
        More info
      </button>
    </td>
  </tr>

{{/each}}